<!-- start custom head snippets -->
<script>
$(function() {
  return $("h1, h2, h3, h4, h5, h6").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    id = $el.attr('id');
    icon = '<i class="fa fa-link"></i>';
    if (id) {
      return $el.append($("<a />").addClass("header-link").attr("href", "#" + decodeURI(id)).attr("onclick", "copyurl(this);").html(icon));
    }
  });
});

$(function(){
  $('h1').each(function(){
    $(this).addClass('class-h1');
  });
  $('h2').each(function(){
    $(this).addClass('class-h2');
  });
  $('h3').each(function(){
    $(this).addClass('class-h3');
  });
  $('h4').each(function(){
    $(this).addClass('class-h4');
  });
  $('h5').each(function(){
    $(this).addClass('class-h5');
  });
  $('h6').each(function(){
    $(this).addClass('class-h6');
  });
});

$(function() {
    $('h1, h2, h3, h4, h5, h6').each(function(i, e) {
        $(e).nextUntil('h1, h2, h3, h4, h5, h6').wrapAll('<div>');
    });

});
</script>
<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="shortcut icon" type="image/x-icon" href="//www.robotis.com/img/common/favicon_16x16_ver1701.ico">
<link type="text/css" rel="stylesheet" charset="UTF-8" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
<!-- end custom head snippets -->
