<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <a class="site-title" href="{{ '/' | absolute_url }}"><img src="/assets/images/robotis_emanual_logo.png" style="padding: 10px 10px;"></a>
      
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="mobile_nav__items">
        {% for nav in site.data.navigation.main %}

          {% if page.lang=='kr' %}
            {% if nav.titlekr %}
              {% assign depth1_title=nav.titlekr %}
            {% else %}
              {% assign depth1_title=nav.title %}
            {% endif %}
            {% if nav.urlkr %}
              {% assign depth1_url=nav.urlkr %}
            {% else %}
              {% assign depth1_url=null %}
            {% endif %}
          {% else %}
            {% assign depth1_title=nav.title %}
            {% assign depth1_url=nav.url %}
          {% endif %}

          {% if nav.children != null %}
          <li class="mobile_depth_1">
            <input type="checkbox" name="mobile_nav_depth_1" id="{{ depth1_title }}">
            <label for="{{ depth1_title }}">{{ depth1_title }}</label>
            <ul>
            {% for child in nav.children %}
              {% if page.lang=='kr' %}
                {% if child.titlekr %}
                  {% assign depth2_title=child.titlekr %}
                {% else %}
                  {% assign depth2_title=child.title %}
                {% endif %}
                {% if child.urlkr %}
                  {% assign depth2_url=child.urlkr %}
                {% else %}
                  {% assign depth2_url=child.url %}
                {% endif %}
              {% else %}
                {% if child.title %}
                  {% assign depth2_title=child.title %}
                {% else %}
                  {% assign depth2_title=null %}
                {% endif %}
                {% if child.url %}
                  {% assign depth2_url=child.url %}
                {% else %}
                  {% assign depth2_url=null %}
                {% endif %}
              {% endif %}
              
              {% if child.children != null %}
                {% if depth2_title != null %}
                  <li class="mobile_depth_2">
                    <input type="radio" name="sublevel" id="{{ depth2_title }}">
                    <label for="{{ depth2_title }}">{{ depth2_title }}</label>
                    <ul>
                    {% for grandchild in child.children %}
                      {% if page.lang=='kr' %}
                        {% if grandchild.titlekr %}
                          {% assign depth3_title=grandchild.titlekr %}
                        {% else %}
                          {% assign depth3_title=grandchild.title %}
                        {% endif %}
                        {% if grandchild.urlkr %}
                          {% assign depth3_url=grandchild.urlkr %}
                        {% else %}
                          {% assign depth3_url=grandchild.url %}
                        {% endif %}
                      {% else %}
                        {% assign depth3_title=grandchild.title %}
                        {% assign depth3_url=grandchild.url %}
                      {% endif %}
                      {% if depth3_title != null %}
                        <li class="mobile_depth_3">
                          <a href="{{ site.url }}{{ site.baseurl }}/docs/{{page.lang}}{{ depth3_url }}" class="{{ active }}">{{ depth3_title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% else %}
                {% if depth2_title != null %}
                  <li class="mobile_depth_2">
                    <a href="{{ site.url }}{{ site.baseurl }}/docs/{{ page.lang }}{{ depth2_url }}">{{ depth2_title }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
            </ul>
          {% else %}
          <li class="mobile_depth_1">
            <a href="{{ site.url }}{{ site.baseurl }}/docs/{{page.lang}}{{ depth1_url }}">{{ depth1_title }}</a>
          </li>
          {% endif %}

          {% if nav.children != null %}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      
      <form class="searchbox" method="get" id="site_search">
        <script>
          (function() {
            var cx = '003548387656725317882:3pwl9jljqvi';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
      </form>
    </div>

    <div class="container" id="container">
      {% for link in site.data.navigation.main %}
        {% if page.lang=='kr' %}
          {% if link.titlekr %}
            {% assign headtitle=link.titlekr %}
          {% else %}
            {% assign headtitle=link.title %}
          {% endif %}
          {% if link.urlkr %}
            {% assign headurl=link.urlkr %}
          {% else %}
            {% assign headurl=null %}
          {% endif %}
        {% else %}
          {% assign headtitle=link.title %}
          {% assign headurl=link.url %}
        {% endif %}

        <div class="dropdown">
          {% if headtitle %}
          <button class="dropbtn">
            {% if headurl %}
              {% if headurl contains "://" %}
                <a href="{{ headurl }}" style="color:#fff;text-decoration:none;">{% else %}
                <a href="{{ site.url }}{{ site.baseurl }}/docs/{{ page.lang }}{{ headurl }}" style="color:#fff;text-decoration:none;">{% endif %}
              {% endif %}{{headtitle}}{% if headurl %}</a>
            {% endif %}
          </button>
          {% endif %}

          {% if link.children != null %}
            <div class="dropdown-content">
            {% for shoulder in link.children %}
              <div class="dropdown-content-wrapper">
              {% if page.lang=='en' %}
                {% if shoulder.title %}
                  {% assign shouldertitle=shoulder.title %}
                {% else %}
                  {% assign shouldertitle=null %}
                {% endif %}
              {% elsif page.lang=='kr' %}
                {% if shoulder.titlekr %}
                  {% assign shouldertitle=shoulder.titlekr %}
                {% else %}
                  {% assign shouldertitle=null %}
                {% endif %}
              {% else %}
                {% assign shouldertitle=null %}
              {% endif %}

              {% if page.lang=='en' %}
                {% if shoulder.url %}
                  {% assign shoulderurl=shoulder.url %}
                {% else %}
                  {% assign shoulderurl=null %}
                {% endif %}
              {% elsif page.lang=='kr' %}
                {% if shoulder.urlkr %}
                  {% assign shoulderurl=shoulder.urlkr %}
                {% else %}
                  {% assign shoulderurl=null %}
                {% endif %}
              {% else %}
                {% assign shoulderurl=null %}
              {% endif %}

              {% if shouldertitle %}
                {% if shoulderurl %}
                  {% if shoulderurl contains "://" %}<a href="{{ shoulderurl }}">{% else %}
                    <a href="{{ site.url }}{{ site.baseurl }}/docs/{{ page.lang }}{{ shoulderurl }}">{% endif %}{% else %}
                <a>{% endif %}{% if shouldertitle contains '*' %}<font color=#ccc>{{ shouldertitle }}</font>{% else %}{{ shouldertitle }}{% endif %}</a>
              {% endif %}

              {% if shoulder.children != null %}
              <div class="dropdown-2nd-content">
                {% for knee in shoulder.children %}
                  {% if page.lang=='en' %}
                    {% if knee.title %}
                      {% assign kneetitle=knee.title %}
                    {% else %}
                      {% assign kneetitle=null %}
                    {% endif %}
                  {% elsif page.lang=='kr' %}
                    {% if knee.titlekr %}
                      {% assign kneetitle=knee.titlekr %}
                    {% else %}
                      {% assign kneetitle=null %}
                    {% endif %}
                  {% else %}
                    {% assign kneetitle=null %}
                  {% endif %}

                  {% if page.lang=='en' %}
                    {% if knee.url %}
                      {% assign kneeurl=knee.url %}
                    {% else %}
                      {% assign kneeurl=null %}
                    {% endif %}
                  {% elsif page.lang=='kr' %}
                    {% if knee.urlkr %}
                      {% assign kneeurl=knee.urlkr %}
                    {% else %}
                      {% assign kneeurl=null %}
                    {% endif %}
                  {% else %}
                    {% assign kneeurl=null %}
                  {% endif %}

                  {% if kneetitle %}
                    {% if kneeurl %}
                      {% if kneeurl contains "://" %}<a href="{{ kneeurl }}">{% else %}<a href="{{ site.url }}{{ site.baseurl }}/docs/{{ page.lang }}{{ kneeurl }}">{% endif %}{% else %}
                        <a>{% endif %}{% if kneetitle contains '*' %}<font color=#ccc>{{ kneetitle }}</font>{% else %}{{ kneetitle }}{% endif %}</a>
                    {% endif %}
                {% endfor %}
              </div>
              {% endif %}

            </div>
            {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>
    
    <div>
      <ul id="search_results" style="margin: 0; background-color: #ffebeb"></ul>
    </div>
  </div>
</div>
