---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

{% if page.share== false %}
<div class="unshared_content" style="position:fixed; top:30%; z-index:10; text-align:center; width:100%">
  <font style="color:#f96f6f; font-size:3rem;">Preliminary Contents</font>
</div>
{% endif %}

<div id="main" role="main">
  <button class="nav_button" id="nav_button" onclick="extendnav()">{% if page.lang=='kr' %}목차{% else %}ToC{% endif %}</button>
  <a href="#"><button class="backtotop" id="backtotop">&#9650;<br />{% if page.lang=='kr' %}처음{% else %}TOP{% endif %}</button></a>
  <div class="sidebar__left" id="sidebar__left">
  {% if page.sidebar %} 
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
  <div class="archive" id="archive">
    <a href="{{ site.github.repository_url }}/blob/master{{ site.branch }}/{{ page.path }}" itemprop="sameAs" style="font-size:1.3em; float:right; margin: 10px 40px; text-decoration: none;">
      <i class="fa fa-fw fa-github" aria-hidden="true"></i> Edit on GitHub
    </a>
    {{ content }}

    {% if page.product_group==null and page.page_number==null %}{% else %}
      {% assign page_numbers=site.pages | where:"product_group", page.product_group | sort: 'page_number' %}
      {% assign page_numbers=page_numbers | where:"lang", page.lang %}
      {% assign previous_page = page.page_number | minus: 1 %}
      {% assign next_page = page.page_number | plus: 1 %}
      {% if page.page_number==1 %}<button style="position:relative; height:2em; padding:0.5em; margin:1em; background:#FFF; color:#FFF; border: 1px solid #FFF">{% endif %}
      {% for available_page in page_numbers %}
        {% if available_page.page_number == previous_page %}<button style="position:relative; padding:0.5em; margin:1em; background:#777; color:#FFF; border: 1px solid #000" onClick="movetopage('{{ available_page.url }}');"><i class="fa fa-chevron-left" aria-hidden="true"></i>{% if page.lang=='kr' %} 이전 페이지{% else %} Previous Page{% endif %}</button>{% endif %}
        {% if available_page.page_number == next_page %}<button style="float:right; position:relative; padding:0.5em; margin:1em; background:#777; color:#FFF; border: 1px solid #000" onClick="movetopage('{{ available_page.url }}');">{% if page.lang=='kr' %}다음 페이지 {% else %}Next Page {% endif %}<i class="fa fa-chevron-right" aria-hidden="true"></i></button>{% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
