/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  max-width: 100%;
  float: left;
  position: relative;
  padding-left: 330px;
  width: 100%;
  margin-bottom: 5em;
}

.splash {
  width: 100%;
  float: left;
  position: relative;
  padding: 0px 10px;
}

img {
  max-width: 100%;
  height: auto;
  padding: 1em;
}
