/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  max-width: 1630px;
  width: auto;
  // float: left;
  position: static;
  padding: 5px;
  margin-left: $sidebar_width;
  // margin-top: 56px;    //space for local_navigation
  border: 5px solid #F1F1F2;
}

.splash {
  width: 100%;
  float: left;
  position: relative;
  padding: 0px 10px;
  padding-bottom: 5em;
  margin-bottom: 5em;
  margin-top: 3em;
}

img {
  max-width: 100%;
  height: auto;
  padding: 1em;
}
