/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

@mixin indentation {
  padding-left: 1.5em;
  word-wrap: break-word;
  
  li > ul, ol, p, div {
    margin: 0;
  }
}

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}
// :lang(en) {font-family: $global-font-family;}
// :lang(kr) {font-family: $global-kr-font-family;}

body {
  counter-reset: h1;
  margin: 0;
  padding: 0;
  color: $text-color;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

.header-link {
  position: relative;
  margin-left: 0.5em;
  opacity: 0;

  \-webkit-transition: opacity 0.1s ease-in-out 0.1s;
  \-moz-transition: opacity 0.1s ease-in-out 0.1s;
  \-ms-transition: opacity 0.1s ease-in-out 0.1s;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em;
  line-height: 1.2;
  font-family: $titillium-webkit;
  font-weight: bold;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.class-h1 {
  counter-reset: h2;
  font-size: $type-size-4;
  color: #134268;

  &:before {
    counter-increment: h1;
    content: counter(h1) ". ";
  }
  
  + div {
    p, div {
      margin: 0.5em 0.5em 0 1em;
      word-wrap: break-word;
    }
    table {
      margin: 0.5em 0.5em 0 2em;
    }
    ul, ol {
      margin: 0.5em 0.5em 0 1em;
      @include indentation;
      blockquote {
        margin: 0.5em 0;
      }
    }
    blockquote {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 2em;
      font-style: italic;
      color: $primary-color;
      border-left: 0.25em solid $primary-color;
      p {
        margin : 0 0.5em;
      }
    }
    iframe {
      margin-left: 1em;
      margin-top: 0.1em;
    }
  }
}

.class-h2 {
  margin-left: 1em;
  counter-reset: h3;
  font-size: $type-size-5;
  color: #1a5b8f;

  &:before {
    counter-increment: h2;
    content: counter(h1) ". " counter(h2) ". ";
  }

  + div {
    p, div {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 2em;
    }
    table {
      margin: 0.5em 0.5em 0 3em;
    }
    ul, ol {
      margin: 0.5em 0.5em 0 2em;
      @include indentation;
      blockquote {
        margin: 0.5em 0;
      }
    }
    blockquote {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 3em;
      font-style: italic;
      color: $primary-color;
      border-left: 0.25em solid $primary-color;
      p {
        margin : 0 0.5em;
      }
    }
    iframe {
      margin-left: 2em;
      margin-top: 0.1em;
    }
  }
}

.class-h3 {
  margin-left: 2.2em;
  counter-reset: h4;
  font-size: $type-size-5;
  color: #2174b6;

  &:before {
    counter-increment: h3;
    content: counter(h1) ". " counter(h2) ". " counter(h3) ". ";
  }

  + div {
    p, div {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 3.3em;
    }
    table {
      margin: 0.5em 0.5em 0 6em;
    }
    ul, ol {
      margin: 0.5em 0.5em 0 3.3em;
      @include indentation;
      blockquote {
        margin: 0.5em 0;
      }
    }
    blockquote {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 4.3em;
      font-style: italic;
      color: $primary-color;
      border-left: 0.25em solid $primary-color;
      p {
        margin : 0 0.5em;
      }
    }
    iframe {
      margin-left: 3.3em;
      margin-top: 0.1em;
    }
  }
}

.class-h4 {
  margin-left: 3.3em;
  font-size: $type-size-5;
  color: #2686d2;

  &:before {
    counter-increment: h4;
    content: counter(h1) ". " counter(h2) ". " counter(h3) ". " counter(h4) ". ";
  }

  + div {
    p, div {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 4.5em;
    }
    table {
      margin: 0.5em 0.5em 0 5.5em;
    }
    ul, ol {
      margin: 0.5em 0.5em 0 4.5em;
      @include indentation;
      blockquote {
        margin: 0.5em 0;
      }
    }
    blockquote {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 5.5em;
      font-style: italic;
      color: $primary-color;
      border-left: 0.25em solid $primary-color;
      p {
        margin : 0 0.5em;
      }
    }
    iframe {
      margin-left: 4.5em;
      margin-top: 0.1em;
    }
  }
}

.class-h5 {
  margin-left: 5em;
  font-size: $type-size-6;
  font-style: italic;
  
  + div {
    p, div {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 6em;
    }
    table {
      margin: 0.5em 0.5em 0 8em;
    }
    ul, ol {
      margin: 0.5em 0.5em 0 5em;
      @include indentation;
      blockquote {
        margin: 0.5em 0;
      }
    }
    blockquote {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 7em;
      font-style: italic;
      color: $primary-color;
      border-left: 0.25em solid $primary-color;
      p {
        margin : 0 0.5em;
      }
    }
    iframe {
      margin-left: 6em;
      margin-top: 0.1em;
    }
  }
}

.class-h6 {
  margin-left: 6.2em;
  font-size: $type-size-6;
  
  + div {
    p, div {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 7em;
    }
    table {
      margin: 0.5em 0.5em 0 8em;
    }
    ul, ol {
      margin: 0.5em 0.5em 0 7em;
      @include indentation;
      blockquote {
        margin: 0.5em 0;
      }
    }
    blockquote {
      word-wrap: break-word;
      margin: 0.5em 0.5em 0 8em;
      font-style: italic;
      color: $primary-color;
      border-left: 0.25em solid $primary-color;
      p {
        margin : 0 0.5em;
      }
    }
    iframe {
      margin-left: 7em;
      margin-top: 0.1em;
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
  }
}

ul > li > ul {
  margin-left: 1.2em;
}

img {
  border: 1px solid #999;
  border-radius: $img-border-radius;
}

blockquote {
  word-wrap: break-word;
  margin: 0.5em 0.5em 0 0;
  font-style: italic;
  color: $primary-color;
  border-left: 0.25em solid $primary-color;
  p {
    margin : 0 0.5em;
  }
}
