.searchbox {
  position: fixed;
  top: 64px;
  left: 0;
  max-width: $sidebar_width + 1;
  z-index: 10;
  // margin: 0.45em 0.5em 0.45em 0.45em;
}

#google_translate_element {
  float: left;
  margin: 0.5em;
}

#google_button {
  display: block;
  position: fixed;
  width: 45px;
  height: 50px;
  top: 6.8rem;
  right: -5px;
  background-color: white;
  border: 1px solid mix(#fff, #000, 80%);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: 100;
  opacity: 0.8;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.google_tools {
  position: fixed;
  background-color: #e73a3e;
  top: 6.8rem;
  right: -250%;
  border: 1px solid mix(#fff, #000, 80%);
  border-radius: $border-radius;
  z-index: 30;
}

.extend_googletools {
  right: 120px;
}

.gsc-adBlock {
    display: none !important;
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
  height: 26px !important;
  margin-top: 0 !important;
  min-width: 13px !important;
  padding: 5px 26px !important;
  width: 68px !important;
}

.gsc-search-button-v2 {
  height: 50px !important;
  width: 50px !important;
  padding: 0px !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
  padding: 0 !important;
  background-color: #FFFFFF !important;
  border: 1px solid #E6E6E6 !important;
}

.gsc-input-box {
  border: 0px !important;
  background: #FFFFFF !important;
  
  table {
    margin: 0;
    height: 50px;
  }
}

.gsib_a {
  padding: 0 !important;
}

.goog-te-gadget-icon {
  padding: 9px;
}

.gsc-resultsHeader, .gsc-above-wrapper-area-container, .gsc-result-info-container, .gsc-orderby-container, .gsc-table-cell-thumbnail, .gsc-table-cell-snippet-close, .gsc-twiddleRegionCell, .gsc-twiddle-opened, .gsc-configLabelCell, .gsc-table-result {
  border: 0 !important;
}
