.logo {
  padding: 0;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  vertical-align: middle;
}

.masthead {
  position: relative;
  margin: 0;
  max-width: $max-width;

  &__inner-wrap {
    display: block;
    width: 100%;
    height: 64px;
    background-color: $top-bgcolor;
  }

  &__menu {
    display: block;
  }
}

.site-title {
  float: left;
}

.search_button {
  display: none;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: 0;
}

.extend_search_tool {
  display: block;
}

#search_term {
  height: 56px;
  width: 230px;
  size: 16px;
  padding: 13px;
}

#search_button {
  height: 55px;
  width: 55px;
  background: #000;
  border: 0;
}

.community_link {
  display: block;
  float: right;
  margin-right: 10px;
  background-color: $top-bgcolor;
  font-family: FontAleo;
  height: 64px;
  line-height: 60px;

  a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
  }
  a:hover {
    color: #CCF850;
  }
}

.community_link_medium {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  background-color: $top-bgcolor;
  font-family: FontAleo;
  height: 64px;
  line-height: 60px;
}

.community_link_mobile {
  display: none;
  position: fixed;
  bottom: 0;
  margin-right: 0;
  width: 100%;
  background-color: #ECECEC;
  z-index: 20;
}

.mobile_button {
  background-repeat: no-repeat;
  background-position: 5px;
  height: 50px;
  border: 0;
  text-align: left;
  padding-left: 53px;
  border-right: 1px solid #CFCFCF;
}

/*the container must be positioned relative:*/
.local_navigation {
  position: fixed;
  margin-left: $sidebar_width;
  max-width: 1630px;
  width: 100%;
  top: 64px;
  z-index: 1;
  background-color: #FAFAFA;
}

.local_navigation select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 56px;
  width: 268px;
}

.menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 31px 20px;
  position: absolute;
  right: 0;
  user-select: none;
}

.menu-icon .navicon {
  background: $mobile-top-textcolor;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: $mobile-top-textcolor;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu-btn:checked ~ .mobile_nav__items {
  display: block;
}

.mobile_nav__items {
  position: absolute;
  clear: both;
  display: none;
  font-family: $titillium-webkit;
  overflow: hidden;
  background-color: $top-bgcolor;
  width: 100%;
  z-index: 20;
  border-top: 1px solid #696969;
}

.mobile_nav__items ul {
  /* by default hide all sub menus */
  display: none;
  list-style: none;
  margin-left: 0;
}

.mobile_nav__items li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
}

.mobile_nav__items input[type=radio], .mobile_nav__items input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}


.mobile_depth_1 label, .mobile_depth_1 a {
  position: relative;
  display: block;
  background: $top-bgcolor;
  color: $mobile_top-textcolor;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #323232;
  padding: 2px 1em;
  text-decoration: none;
}

.mobile_depth_1 label:hover, .mobile_depth_1 a:hover {
  background: $mobile-hovercolor;
  // color: #ddd;
}

.mobile_depth_2 label, .mobile_depth_2 a {
  position: relative;
  display: block;
  background: $mobile-middle-bgcolor;
  color: $middle-textcolor;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  padding: 2px 1.5em;
  text-decoration: none;
}

.mobile_depth_2 label:hover, .mobile_depth_2 a:hover {
  background: $mobile-hovercolor;
  // color: #ddd;
}

.mobile_depth_3 label, .mobile_depth_3 a {
  position: relative;
  display: block;
  background: $mobile-bottom-bgcolor;
  color: $bottom-textcolor;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  padding: 2px 3em;
  text-decoration: none;
}

.mobile_depth_3 label:hover, .mobile_depth_3 a:hover {
  background: $mobile-hovercolor;
  // color: #ddd;
}

.mobile_nav__items input[type=radio]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}

.mobile_nav__items input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}

.mobile_nav__items input[type=radio]:checked + label + ul,
.mobile_nav__items input[type=radio]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.mobile_nav__items input[type=checkbox]:checked + label + ul,
.mobile_nav__items input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.mobile_nav__items > li:last-of-type > label,
.mobile_nav__items > li:last-of-type > a,
.mobile_nav__items > li > ul > li:last-of-type label,
.mobile_nav__items > li > ul > li:last-of-type a {
  box-shadow: none;
}

.container {
  // clear: both;
  display: block;
  float: left;
  overflow: hidden;
  background-color: $top-bgcolor;
  font-family: $titillium-webkit;
  max-width: 700px;
  z-index: 900;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: $top-textcolor;
  padding: 14px 16px;
  background-color: $top-bgcolor;
  height: 64px;
}

.container a:hover, .dropdown:hover .dropbtn {
    // background-color: $top-hovercolor;
    color: #CCF850
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $middle-bgcolor;
    min-width: 150px;
    z-index: 20;

    &-wrapper {
      float: none;
      position: relative;
    }
}

.dropdown-content a {
    font-size: 14px;
    color: $middle-textcolor;
    padding: 6px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown-content a:hover {
    background-color: $middle-hovercolor;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-2nd-content {
    display: none;
    position: absolute;
    right: -150px;
    top: -0.5px;
    background-color: $bottom-bgcolor;
    min-width: 150px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 20;
}

.dropdown-2nd-content a {
    float: none;
    color: $bottom-textcolor;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-2nd-content a:hover {
    background-color: $bottom-hovercolor;
}

.dropdown-content-wrapper:hover .dropdown-2nd-content {
    display: block;
}

.fa-stack {
  width: 0.8em;
  height: 0.8em;
  line-height: 0.8em;
}

.fa-stack-1x {
  font-size: 0.5em;
}

.fa-stack-2x {
  font-size: 0.8em;
}
