.nav__list {
  overflow-y:auto;
  height: 85vh;
}

.sticky_sidebar nav {
  height: 95vh;
}

.sidebar__left {
  width: 290px;
  height: 100vh;
  float: left;
  top: 66px;
  position: fixed;
  z-index: 9;
  word-wrap: break-word;
  
  ::-webkit-scrollbar {
  display: none;
  }
}

.sticky_sidebar {
  top: 0px;
}

.switch_ko_en {
  // display: block;
  position: fixed;
  width: 70px;
  height: 50px;
  top: 6.8rem;
  right: -250%;
  color: white;
  background-color: #2174b6;
  border: 1px solid mix(#fff, #000, 80%);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: 100;
}

.show_switch_ko_en {
  right: 45px;
}

.backtotop {
  display: block;
  position: fixed;
  width: 45px;
  height: 50px;
  top: 10rem;
  right: -5px;
  background-color: white;
  border: 1px solid mix(#fff, #000, 80%);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: 100;
  opacity: 0.8;
}

.nav_button {
  display: none;
  color: white;
}

.nav__items {
  width: 100%;
  margin-top: 55px;
  max-width: $mobile-landscape;
  background: #FAFAFA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EBEBEB;
}

.nav__items ul {
  /* by default hide all sub menus */
  display: none;
  margin-left: 0;
}

.nav__items li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
}

.nav__items input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}

.nav__items label, .nav__items a {
  position: relative;
  display: block;
  // background: #fff;
  // box-shadow: inset 0 -1px #2174b6;
  color: #494e52;
  text-decoration: none;
}

.nav__items label:hover, .nav__items a:hover {
  background: #eee;
  // color: #ddd;
}

.nav__items input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}

.nav__items input[type=checkbox]:checked + label + ul,
.nav__items input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.nav__items ul label,
.nav__items ul a {
  // background: #fff;
  // box-shadow: inset 0 -1px #2174b6;
  color: #487ea9;
  text-decoration: none;
  font-size: 0.85em;
}

.nav__items ul label:hover,
.nav__items ul a:hover {
  background: #eee;
}

.nav__items > li > a,
.nav__items > li > label {
  padding-left: 20px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 200;
  color: #434445;
  border: 1px solid #EBEBEB;
  border-bottom-width: 0px;
}

.nav__items > li > ul > li a,
.nav__items > li > ul > li label {
  padding-left: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 200;
  color: #434445;
  background: #F2F2F2;
}

.nav__items > li > ul > li > ul > li a {
  padding-left: 45px;
  line-height: 23px;
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  color: #42759d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav__title {
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: $sans-serif-narrow;
  font-size: 1em;
  font-weight: bold;
}

.nav__sub-title {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  font-family: $sans-serif-narrow;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.tocLevel1 {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 200;
  color: #434445;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  text-align: left;

  :hover {
    background-color: inherit;
  }
}

.tocLevel2 {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #434445;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  :hover {
    background-color: inherit;
  }
}
