html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

#main {
  margin: 0;
  
  @include breakpoint($max-width) {
    max-width: $max-width;
  }
}

@media screen and (max-width: $mobile-landscape) {
  
  #main {
    padding-top: 50px;
    width: 95%;
    font-size: 14px;
  }
  
  #logo {
    max-width: 200px;
    width: 50vw;
  }
  
  #sidebar {
    float: none;
    width: 100%;
    position: fixed;
    left: -100%;
    padding: 0 2em;
    border: 1px solid #000;
    border-radius: $border-radius;
    background-color: #dcdcdc;
    opacity: 0.95;
    z-index: 9;
  }
  
  #archive {
    float: none;
    max-width: 100%;
    margin: 0 1em;
    padding: 0;
  }
  
  #container {
    display: none;
  }
  
  // #mobile_nav__items {
  //   width: 100%;
  //   height: auto;
  //   opacity: 0.9;
  //   z-index: 999;
  // }
  
  #site_search {
    right: 45px;
    max-width: 15em;
    
    @media screen and (max-width: $mobile-portrait) {
      top: 30px;
      right: 10px;
    }
  }
  
  .menu-icon {
    display: inline-block;;
  }
  
  #nav_button {
    display: block;
    position: fixed;
    width: 45px;
    height: 50px;
    top: 10rem;
    right: -5px;
    background-color: #2174b6;
    border: 1px solid mix(#fff, #000, 80%);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    z-index: 100;
    opacity: 0.8;
  }
  
  #backtotop {
    display: block;
    position: fixed;
    width: 45px;
    height: 50px;
    top: 13.2rem;
    right: -5px;
    background-color: white;
    border: 1px solid mix(#fff, #000, 80%);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    z-index: 100;
    opacity: 0.8;
  }
  
  .extend_sidebar {
    margin-left: 100%;
  }
  
  table {
    font-size: 0.65rem;
  }
}
