/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: table;
  margin-bottom: 1em;
  width: auto;
  font-size: 0.8rem;
  border-collapse: collapse;
  border: 0px solid #dadada;

  & + table {
    margin-top: 1em;
  }
}

/*
table.gsc-search-box {
  margin-bottom: 0;
  width: 100%;
  font-size: $type-size-6;
  border: 0px;
}
*/

thead {
  background-color: #f2f3f3;
  border-top: 0px solid #b6b6b6;
  // border-bottom: 1px solid #b6b6b6;
}

tbody {
  background-color: #ffffff;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 0px solid #dadada;

  img {
    display: block;
    padding: 0;
    border: 0;
    border-radius: 0;
  }
}

td {
  display: table-cell;
  padding: 0.5em;
  border-right: 0px solid #dadada;
  border-bottom: 1px solid #adadad;

  img {
    padding: 0;
    width: auto;
    max-height: 8rem;
    border: 0;
    border-radius: 0;
  }
}

.gsc-input,
.gsib_a,
.gsib_b,
.gsc-search-button,
.gstl_50 {
  padding: 0;
  border: 0;
}

/*
td.gsc-input {
  border: 0px;
}
*/

tr,
td,
th {
  vertical-align: middle;
}
