* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$max-width  : 1920px;

/* system typefaces */
$serif                      : Georgia, Times, serif !default;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif !default;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia                    : Georgia, serif !default;
$times                      : Times, serif !default;
$bodoni                     : "Bodoni MT", serif !default;
$calisto                    : "Calisto MT", serif !default;
$garamond                   : Garamond, serif !default;

$global-font-family         : $sans-serif !default;
$header-font-family         : $sans-serif !default;
$caption-font-family        : $serif !default;

$text-color                 : #333333 !default;
$gray                       : #7a8288 !default;


/* type scale */
$type-size-1                : 2.441em !default;  // ~39.056px
$type-size-2                : 1.953em !default;  // ~31.248px
$type-size-3                : 1.563em !default;  // ~25.008px
$type-size-4                : 1.25em !default;   // ~20px
$type-size-5                : 1em !default;      // ~16px
$type-size-6                : 0.85em !default;   // ~12px
$type-size-7                : 0.75em !default; // ~11px
$type-size-8                : 0.7em !default;  // ~10px
